
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WNqGRjUh3JPe/Views/Shared/_AdminLayout.cshtml";
    ViewBag.DashboardTitle = "";
    ViewBag.Dashboard = "Dashboard";
}


<div class="row">
    <div class="col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Okunmamış İletişim Mesajı Sayısı</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h3 style="@(ViewBag.UnReadContact == 0 ? "font-size:20px" : "margin-left:250px;" )"> @(ViewBag.UnReadContact == 0 ? "Okunmamış Mesaj Bulunmamaktadır." : ViewBag.UnReadContact ) <a class="small text-white stretched-link" href="/WNqGRjUh3JPe/Contact"></a></h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Üye Sayısı</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 style="@(ViewBag.MemberCount == 0 ? "font-size:20px" : "margin-left:250px;" )">@(ViewBag.MemberCount == 0 ? "Henüz Sisteme Kayıtlı Üye Bulunmamaktadır." : ViewBag.MemberCount ) <a class="small text-white stretched-link" href="/WNqGRjUh3JPe/Member"></a></h1>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Duyuru Sayısı</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 style="margin-left:250px">@ViewBag.AnnouncementCount <a class="small text-white stretched-link" href="/WNqGRjUh3JPe/Announcement"></a></h1>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Haber Sayısı</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 style="margin-left:250px">@ViewBag.NewsCount  <a class="small text-white stretched-link" href="/WNqGRjUh3JPe/News"></a></h1>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Aylık Bazda Üye Sayıları
            </div>
            <div class="card-body"><canvas id="memberChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Aylık Bazda Ziyaretçi Sayıları
            </div>
            <div class="card-body"><canvas id="visitorChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
    </div>
    

@section Scripts {

<script type="text/javascript">
    months = [];    
    counts = [];
    memberCounts = [];

    $(function () {

        $.ajax({

            type: "GET",
            url: "/WNqGRjUh3JPe/Home/VisitorChart",
            success: function (data) {
                var Data = data.jsonlist;
              
                
                $.each(Data,(i, v) => {
                    months[i] = v.month;
                })
                $.each(Data, (i, v) => {
                    counts[i] = v.count;
                })          
          
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Bar Chart Example
    var ctx = document.getElementById("visitorChart");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: "Ziyaretçi",
                backgroundColor: "rgba(2,117,216,1)",
                borderColor: "rgba(2,117,216,1)",
                data: counts,
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'month'
                    },
                    gridLines: {
                        display: true
                    },
                    ticks: {
                        maxTicksLimit: 12
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: @ViewBag.VisitorGraphMax,
                        maxTicksLimit: 10
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
            legend: {
                display: true
            }
        }
    });

            }

        })

        $.ajax({           
            type: "GET",
            url: "/WNqGRjUh3JPe/Home/MemberChart",
            success: function (data) {
                var Data = data.jsonlist;
                $.each(Data, (i, v) => {
                    memberCounts[i] = v.count;
                })
                $.each(Data, (i, v) => {
                    months[i] = v.month;
                })

                Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                Chart.defaults.global.defaultFontColor = '#292b2c';

                // Area Chart Example
                var ctx = document.getElementById("memberChart");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: months,
                        datasets: [{
                            label: "Üye",
                            lineTension: 0.3,
                            backgroundColor: "rgba(2,117,216,0.2)",
                            borderColor: "rgba(2,117,216,1)",
                            pointRadius: 5,
                            pointBackgroundColor: "rgba(2,117,216,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            data: memberCounts,
                        }],
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'date'
                                },
                                gridLines: {
                                    display: true
                                },
                                ticks: {
                                    maxTicksLimit: 12
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: @ViewBag.MemberGraphMax,
                                    maxTicksLimit: 10
                                },
                                gridLines: {
                                    color: "rgba(0, 0, 0, .125)",
                                }
                            }],
                        },
                        legend: {
                            display: true
                        }
                    }
                });









            }
        })
    })



</script>

}