@using MyWebsite.Core.Entities.Concrete
@{  
 Layout = null;
 var seoDesc = GlobalProperties.SeoDesc;
 var seoAuthor = GlobalProperties.SeoAuthor;
 var seoTags = GlobalProperties.SeoTags;

}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewBag.Title - Büyük Birlik Partisi Resmi Web Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="@seoDesc">
    <meta name="author" content="@seoAuthor">
    <meta name="keywords" content="@seoTags">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="~/bbp/images/logo_red.ico" />
    @await Html.PartialAsync("_LayoutCssPartial")
    @await RenderSectionAsync("Styles", false)

</head>
<body>
    <div id="fullPage">
        <!--Header-->
        @await Html.PartialAsync("_NavbarPartial")

        @RenderBody()

        <!--footer-->
        @await Component.InvokeAsync("Footer")
        <!---->

    </div>

    <!--COOKIE-->
    <div id="cookieNotice" class="light display-right" style="display: none;">
        <div id="closeIcon" style="display: none;">
        </div>
        <div class="title-wrap">
            <h4>Çerez Politikası</h4>
        </div>
        <div class="content-wrap">
            <div class="msg-wrap">
                <p>Size daha iyi bir hizmet sunabilmek için çerezler kullanıyoruz.</p>
                <div class="btn-wrap">
                    <button class="btn-primary" onclick="acceptCookieConsent();">Kabul Ediyorum</button>
                </div>
            </div>
        </div>

    </div>

    @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("Scripts", false)


</body>

</html>